.main-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

header {
	width: 100%;
}

.main-title {
	font-family: 'Lato', sans-serif;
	font-size: 40px;

}

.carousel {
	position: relative;
	width: calc(400% / 4);
	max-width: 900px;
	height: 250px;
	overflow: hidden;
	asborder: 1px solid black;
	box-sizing: border-box;
	margin: 0 auto;
}

.carousel-container {
	width: 400%;
	overflow: hidden;
	asborder: 1px solid red;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	transition: margin-left 600ms ease-out;
}

ul {
	padding: 0;
	margin: 0;
}

.carousel ul li {
	position: relative;
	float: left;
	list-style: none;
	box-sizing: border-box;
	width: calc(100% / 4);
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}


.arrows-container {
	width: 100%;
	margin: 0 auto;
	assborder: 1px solid green;
	overflow: hidden;
	margin-top: -15%;
	box-sizing: border-box;
}

.arrow {
	position: absolute;
	font-size: 16px;
	
}

.left-arrow {
	left: 70px;

}

.right-arrow {
	right: 70px;
}


.buttons-container {
	position: absolute;
	width: 100%;
	max-width: 960px;
	asborder: 1px solid black;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 10%;

	
}
.buttons {
	margin: 0 auto;
	width: 60px;
	asborder: 1px solid red;
	overflow: hidden;
	z-index: 10;
	margin-top: 25px;
}

.button {
	position: relative;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	asborder: 1px solid black;
	background-color: grey; 
	margin-left: 5px;
}






